<div class="container">
  <div class="row">

    <!--Ülke tablosu -->
    <div class="col-4 liste-section shadow p-3 mb-3 bg-white rounded">
      <div class="row">

        <div class="form-content">
          <form>
            <div class="form-row">
              <div class="col-7">
                <input type="text" class="form-control" placeholder="Ülke ara">
              </div>
              <div class="col-5">
                <select class="form-control">
                  <option>Sırala</option>
                  <option>Vaka Sayısına Göre</option>
                  <option>Ölüm Sayısına Göre</option>
                  <option>İyileşen Sayısına Göre</option>
                </select>
              </div>
            </div>
          </form>
        </div>
        <!--Liste-->

        <table class="table table-hover scrolldown">
          <thead>
            <tr>
              <th scope="col"><strong>ÜLKE</strong></th>
              <th scope="col"><strong>VAKA</strong></th>
              <th scope="col"><strong>ÖLÜM</strong></th>
              <th scope="col"><strong>İYİLEŞME</strong></th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let item of getItems()">
              <td class="korona-country">{{ item.ulke }}</td>
              <td class="korona-value" style="color:rgb(167, 14, 14);">{{ item.vaka }}</td>
              <td class="korona-death" style="color:rgb(124, 121, 121);">{{ item.olum }}</td>
              <td class="korona-recovered" style="color:green;">{{ item.iyi }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--/Ülke Tablos-->

    <!--Harita-->
    <div class="col-8 map-section">
      <div class="row">
        <div class="col-9">
          <h3><span id="ulkeadi">Dünya Geneli</span> Toplam Vaka Sayısı</h3>
        </div>
        <div class="col-3">
          <select class="form-control ">
            <option>Dünya Geneli</option>
            <option>ABD</option>
            <option>Brezilya</option>
            <option>Hindistan</option>
          </select>
        </div>
      </div>

      <div class="row vaka-sayisi shadow p-3 mb-5 bg-white rounded">
        <div class="row p-1">
          <div class="col">
            <h6 class="info">Toplam Vaka Sayısı</h6>
            <p id="sum">11,111.111</p>
            <p id="sum-count">+555,555</p>
          </div>
          <div class="col">
            <h6 class="info">Ölüm Vaka Sayısı</h6>
            <p id="dead">11,111.111</p>
            <p id="dead-count">+555,555</p>
          </div>
          <div class="col">
            <h6 class="info">Aktif Vaka Sayısı</h6>
            <p id="aktif">11,111.111</p>
            <p id="aktif-count">+555,555</p>
          </div>
          <div class="col">
            <h6 class="info">İyileşen Vaka Sayısı</h6>
            <p id="recov">11,111.111</p>
            <p id="recov-count">+555,555</p>
          </div>
        </div>
      </div>

      <div class="dunyaharitasi">
        <div id="chartdiv"></div>
      </div>
    </div>
    <!--/ülke haritası-->

  </div>
</div>

<!--ikinci satır-->

<div class="container">
  <div class="row">

    <!--Pie chart-->
    <div class="col-4 pie-chart shadow p-3 mb-4 bg-white rounded">
      <div class="row">
        <h4 id="pie-baslık">Dünya Geneli Enfeksiyon Dağılımı</h4>
      </div>
      <div class="row p-3 mb-3">
        <div id="chartdiv2"></div>
      </div>
    </div>
    <!--/Pie chart-->

    <!--Line chart-->
    <div class="col-8 line-chart shadow p-3 mb-4 bg-white rounded">

      <!--Line chart-->
      <div id="chartdiv3"></div>
    </div>
  </div>
  <!--/ikinci satır-->
</div>