<div class="container">
  <div class="row">

    <!--Ülke tablosu -->
    <div class="col-4 liste-section shadow p-3 mb-3 bg-white rounded">
      <div class="row">

        <div class="form-content">
          <form>
            <div class="form-row">
              <div class="col-7">
                <input type="text" class="form-control" placeholder="Ülke ara" name="search" [(ngModel)]="search">
              </div>
              <div class="col-5">
                <select class="form-control">
                  <option>Sırala</option>
                  <option [appSort]="RootObject.Countries" data-order="desc" data-name="TotalConfirmed">Vaka Sayısına Göre</option>
                  <option>Ölüm Sayısına Göre</option>
                  <option>İyileşen Sayısına Göre</option>
                </select>
              </div>
            </div>
          </form>
        </div>

        <!--Liste-->
        <table class="table table-hover scrolldown">
          <thead>
            <tr>
              <th scope="col" [appSort]="RootObject.Countries" data-order="desc" data-name="Country"><strong>ÜLKE</strong></th>
              <th scope="col" [appSort]="RootObject.Countries" data-order="desc" data-name="TotalConfirmed"><strong>VAKA</strong></th>
              <th scope="col" [appSort]="RootObject.Countries" data-order="desc" data-name="TotalDeaths"><strong>ÖLÜM</strong></th>
              <th scope="col" [appSort]="RootObject.Countries" data-order="desc" data-name="TotalRecovered"><strong>İYİLEŞME</strong></th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td class="korona-country">Dünya Geneli</td>
              <td class="korona-value" style="color:rgb(167, 14, 14);">{{ RootObject.Global.TotalConfirmed }}</td>
              <td class="korona-death" style="color:rgb(124, 121, 121);">{{ RootObject.Global.TotalDeaths }}</td>
              <td class="korona-recovered" style="color:green;">{{ RootObject.Global.TotalRecovered }}</td>
            </tr>
            <tr *ngFor="let summary of RootObject.Countries | filter:search">
              <td class="korona-country">{{ summary.Country }}</td>
              <td class="korona-value" style="color:rgb(167, 14, 14);">{{ summary.TotalConfirmed }}</td>
              <td class="korona-death" style="color:rgb(124, 121, 121);">{{ summary.TotalDeaths }}</td>
              <td class="korona-recovered" style="color:green;">{{ summary.TotalRecovered }}</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
    <!--/Ülke Tablos-->

    <!--Harita-->
    <div class="col-8 map-section">
      <div class="row">
        <div class="col-9">
          <h3><span id="ulkeadi">{{ SelectedCount.Country }}</span> Toplam Vaka Sayısı</h3>
        </div>
        <div class="col-3">
          <select class="form-control" [(ngModel)]="SelectedCount">
            <option>Dünya Geneli</option>
            <option *ngFor="let array of RootObject.Countries" [ngValue]="array">{{ array.Country }}</option>
          </select>
        </div>
      </div>

      <div class="row vaka-sayisi shadow p-3 mb-5 bg-white rounded">
        <div class="row p-1">
          <div class="col">
            <h6 class="info">Toplam Vaka Sayısı</h6>
            <p id="sum">{{ SelectedCount.TotalConfirmed }}</p>
            <p id="sum-count">+{{ SelectedCount.NewConfirmed }}</p>
          </div>
          <div class="col">
            <h6 class="info">Ölüm Vaka Sayısı</h6>
            <p id="dead">{{ SelectedCount.TotalDeaths }}</p>
            <p id="dead-count">+{{ SelectedCount.NewDeaths }}</p>
          </div>
          <div class="col">
            <h6 class="info">Aktif Vaka Sayısı</h6>
            <p id="aktif">{{ SelectedCount.TotalConfirmed }}</p>
            <p id="aktif-count">+{{ SelectedCount.NewConfirmed }}</p>
          </div>
          <div class="col">
            <h6 class="info">İyileşen Vaka Sayısı</h6>
            <p id="recov">{{ SelectedCount.TotalRecovered }}</p>
            <p id="recov-count">+{{SelectedCount.NewRecovered }}</p>
          </div>
        </div>
      </div>
      <app-map-chart></app-map-chart>
    </div>
    <!--/Harita-->

  </div>
</div>

<div class="container">
  <div class="row">

    <!--Pie chart-->
    <div class="col-4 pie-chart shadow p-3 mb-4 bg-white rounded">
      <div class="row">
        <h4 id="pie-baslik">Dünya Geneli Enfeksiyon Dağılımı</h4>
      </div>
      <div class="row p-3 mb-3">
        <app-charts></app-charts>
      </div>
    </div>
    <!--/Pie chart-->

    <!--Line chart-->
    <div class="col-8 line-chart shadow p-3 mb-4 bg-white rounded">
      <h4 id="line-baslik"><span>{{ SelectedCount.Country }}</span> Tarihsel Veri Dağılımı</h4>
      <app-line-chart></app-line-chart>
    </div>
    <!--/Line chart-->

  </div>
</div>