.vaka-sayisi{
    text-align: center;
    padding: 10px;
    margin: 5px;
}
#sum,#dead,#aktif,#recov{
    font-size: 1.7rem;
    font-weight: bold;
}
#sum{
    color: rgb(209, 78, 55);
}
#dead{
    color: gray;
}
#aktif{
    color: rgb(255, 166, 0);
}
#recov{
    color: rgb(58, 122, 58);
}

#sum-count,#dead-count,#aktif-count,#recov-count{
    padding: 5px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 1.1rem;
}
#sum-count{
    background-color: rgb(192, 114, 114);
}
#dead-count{
    background-color: rgb(168, 168, 168);
}
#aktif-count{
    background-color: rgb(240, 195, 111);
}
#recov-count{
    background-color: rgb(132, 160, 132);
}

.dunyaharitasi{
    width: 100%;
}