<!--Harita-->

<div class="row">
  <div class="col-9">
    <h3><span id="ulkeadi">Dünya Geneli</span> Toplam Vaka Sayısı</h3>
  </div>
  <div class="col-3">
    <select class="form-control ">
      <option>Dünya Geneli</option>
      <option>ABD</option>
      <option>Brezilya</option>
      <option>Hindistan</option>
    </select>
  </div>
</div>

<div class="row vaka-sayisi shadow p-3 mb-5 bg-white rounded">
  <div class="row p-1">
    <div class="col">
      <h6 class="info">Toplam Vaka Sayısı</h6>
      <p id="sum">11,111.111</p>
      <p id="sum-count">+555,555</p>
    </div>
    <div class="col">
      <h6 class="info">Ölüm Vaka Sayısı</h6>
      <p id="dead">11,111.111</p>
      <p id="dead-count">+555,555</p>
    </div>
    <div class="col">
      <h6 class="info">Aktif Vaka Sayısı</h6>
      <p id="aktif">11,111.111</p>
      <p id="aktif-count">+555,555</p>
    </div>
    <div class="col">
      <h6 class="info">İyileşen Vaka Sayısı</h6>
      <p id="recov">11,111.111</p>
      <p id="recov-count">+555,555</p>
    </div>
  </div>
</div>

<div class="dunyaharitasi">
  <div id="chartdiv"></div>
</div>
<!--/Harita-->